# Python
__pycache__/
*.py[cod]

# SQLite
*.sqlite3

# Virtual environment
venv/

# Django static files
staticfiles/

# Editor files
.vscode/
.idea/

# OS-specific
.DS_Store
Thumbs.db

# Environment Variables
.env
