Django
psycopg2-binary
djangorestframework
django-cors-headers
gunicorn
python-decouple
django-environ
EOL
python-dotenv
djangorestframework-stubs
djangorestframework-simplejwt
twilio
pandas
openpyxl




# python manage.py import_students "Data.xlsx"


# from session_management.models import Student

# student = Student.objects.get(register_number='Y22CSE279030')
# student.is_staff = True
# student.is_superuser = True
# student.save()
